[user]
	name = Makoto Chiba
	email = hypermkt@gmail.com
[alias]
	ci = commit
	co = checkout
	s = status
	b = branch
[color]
  ui = true
[core]
  editor=vim
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[ghq]
  root = ~/go/src
